*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* #region utility */

:root{
    --bg-soft: #b4d0e7;
    --btn-blu: #0061ff;
    --square-purple:#61082b;
    --square-sand:#f5f5f5;
    --square-green-inverted:#5d2c64;
    --square-purple-inverted:#9ef7d4;
    --square-azure-inverted:#ff6c31;
    --square-orange-inverted:#00e3e3;
    --square-red-inverted:#2affe0;
    --square-gray-inverted:#4b2f18;
    --square-blu-inverted:#f2db7e;
    --square-yellow-inverted:#0027cf;
}

.d-f{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.justify-content-left{
    justify-content: left;
}

.gap-0-5{
    gap: 0.5rem;
}

.align-item-center{
    align-items: center;
}

.d-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    width: 100%;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    width: 100%;
}

.col-40{
    width: 40%;
}

.col-50{
    width: 50%;
}

.col-60{
    width: 60%;
}

.col-30{
    width: 30%;
    border: 1px solid gray;
}

.col-33{
    width: 30%;
}

.col-100{
    margin-top: 2rem;
    width: 100%;
    border: 1px solid gray;
}

.col-auto{
    width: auto;
    gap: 1rem;
    align-items: center;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card div{
    font-size: 0.8rem;
}


.list-unstyled{
    list-style-type: none;
}

.color-blu{
    color: blue;
}

.card-30 div, .card-70 div{
    font-size: 0.8rem;
}

.btn-gray{
    color: gray;
    border: 1px solid gray;
    box-shadow: 0 0 3px gray;
    font-size: 0.8rem;
    transition: 0.2s;
}
/* #end region utility */

/* #region header */

a{
    text-decoration: none;
    color: black;
}

#menu-left{
    padding: 1rem 0.8rem;
    margin-right: auto;
}

#menu-right{
    padding: 1rem 0.8rem;
    margin-left: auto;

}

.btn{
    padding: 0.3rem 0.8rem;
}
.btn-1{
    width: 200px;
    padding: 0.3rem 0.8rem;
    text-align: center;
}

.btn-3{
    background-color: white;
    height: 30px;
    padding: 0.4rem 1.5rem;
    transition: 0.2s;
}

.btn-blu{
    background-color:var(--btn-blu);
    color: white;
    transition: 0.2s;
}

#nav-bar{
    height: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 0 5px gray;
}

header a{
    font-size: 0.75rem;
}

/* #endregion header */

/* #region main */

.principal-section{
    padding-top: 50px;
    margin-top: 60px;
    background-color: var(--bg-soft);
    width: 100%;
    /* height: 450px; */
}

.container-1{
    width: 70%;
    height: 460px;
    margin: auto;
    font-size: small;
    /* background-color: blue; */
}

.second-section{
    padding-top: 6rem;
}

.container-2{
    width: 60%;
    margin: auto;
}

.row{
    margin-top: 3rem;
}

.title{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 0.5rem 0.1rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.colonna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50PX;
}

.titolo{
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid gray;
}

.column-card{
    padding: 1rem;
}

.card-70{
    width: 70%;
}

.card-30{
    width: 30%;
}

.soft{
    background-color: var(--bg-soft);
}

.col-50{
    width: 50%;
}

.title-purple{
    color: var(--square-purple);
}

.gap-2{
    gap: 2rem;
}

.just-bet{
    justify-content: space-between;
}

footer a{
    color: white;
    font-size: 0.7rem;
}

.bar{
    width: 80px;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.bar-1{
    width: 50px;
    margin: 1.2rem 0;
    color: gray;
}

.nav-hover{
    height: 60px;
    display: flex; 
    align-items: center;
}
.nav-hover :hover{
    border-bottom: 1px solid black;
    height: 60px;
    display: flex; 
    align-items: center;
}

#box-shadow{
    transition: 0.3s;
}

#box-shadow:hover{
    box-shadow: 0 0 5px gray;
    padding: 1rem;
}

.btn-blu:hover{
    border-radius: 20px;
    background-color: #33a8f0;
}

.btn-3:hover, .btn-gray:hover{
    background-color: var(--square-sand);
    box-shadow: 0 0 7px rgb(108, 67, 67);
    border-radius: 20px;
}

.flex-row{
    display: flex; 
    width: 100%; 
    flex-direction: row;
}

.flex-row-square{
    width: 33%; 
    display: flex; 
    flex-wrap: wrap;
}

.square{
    width: 50%; 
    aspect-ratio: 1; 
}

.square-1{
    width: 50%; 
    aspect-ratio: 1; 
    border: inset 10px rgba(103, 184, 87, 0.497);
}


.padding-complete{
    /* padding: 33% 10%;  */
}

.faq-p{
    font-weight: lighter;
}

#faq p{
    display: none;
}

#faq:hover p{
    display: inline-block;
}

#faq:hover i{
    rotate: 180deg;
}

.fix-square{
    height: 100%; 
    object-fit: contain;
    padding: 30% 15%;
}

.cont{
    display: flex;
}

.cont>img{
    filter: invert();
    object-fit: contain;
    padding: 3rem; 
}

.bg-s-green{
    background-color: var(--square-green-inverted);
}

.bg-s-purple{
    background-color: var(--square-purple-inverted);
}

.bg-s-azure{
    background-color: var(--square-azure-inverted);
}

.bg-s-orange{
    background-color: var(--square-orange-inverted);
}

.bg-s-red{
    background-color: var(--square-red-inverted);
}

.bg-s-soft{
    background-color: var(--square-gray-inverted);
}

.bg-s-blu{
    background-color: var(--square-blu-inverted);
}

.bg-s-yellow{
    background-color: var(--square-yellow-inverted);
}

.bg-s-sand{
    background-color: var(--square-sand);
}